
.centerContent{
  display: flex;
  align-items: center;
  justify-content: center;
}

.queryButton {
  border: none;
  outline: none;
  background-color: #F92172;
  border-radius: 25px;
  color: #FFF;
  margin-left: 1.5%;
  font-size: 0.76vw;
  padding-right: 2.5%;
  padding-left: 2.5%;
  white-space:nowrap;
}

.topComponent {
  display: flex;
  flex-direction: row;
  height: 4%;
  width: 98%;
  margin-top: 7.3%;
}

.searchBar{
  background: #FFFFFF;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  & {
    select{
      padding-left: 10px;
      width: 13%;
      display: flex;
      box-shadow: none;
      border: none;
      flex-direction: row;
      background: none;
      font-family: 'Roboto Mono', monospace;
      font-weight: 300;
      font-size: 0.7vw;
      outline: none;
      color: grey;
    }
    input{
      width:80%;
      height: 100%;
      margin-left: 1%;
      box-shadow: none;
      border: none;
      background: none;
      font-family: 'Roboto Mono', monospace;
      font-size: 0.75vw;
      outline: none;
    }
    button {
      background: none;
      border: none;
      outline: none;
      float: none;
      text-align: left;
      height: 100%;
      margin: 0;
      padding: 14px;
      font-size: 0.7vw;
      & i {
        position: relative;
        left: 60%;
        height: 0%;
        transform: translate(-50%, -55%);
        display: block;
        color: #434246;

      }
    }
  }
}