.queryButton {
    padding: 15px;
    background-color: #F92172;
    border-radius: 25px;
    color: #FFF;
    margin-left: 20px;
    height: 30px;
    width: 80px ;
    font-size: 0.75em;
}
.topComponent button {
    float: none;
    text-align: left;
    height: 100%;
    margin: 0;
    padding: 14px;
}
a {
    text-decoration: none;
}

input {
    height: 30px;
}

div {
    width: 500px;
}