.card{
  width: 99%;
  height: 23%;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  margin-bottom: 2.5%;
  background: #FFFFFF;
}
.cardImgContainer{
  height: 100%;
  min-width: 29%;
  width: 29%;
  overflow: hidden;
  & img{
    height: 100%;
    width: 100%;
  }
}
.cardsContainer{
  width: 98%;
  height: 77%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 2.5%;

}

.cardContent{
  text-align: left;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  & {
    span {
      font-size: 0.88vw;
      margin: 0%;
      font-weight: 300;
      &.header{
        font-weight: 700;
        font-size: 1.1vw;
      }
    }
    p {
      font-size: 0.73vw;
      font-weight: 100;
      margin: 0%;
    }
  }
}
.cardTags{
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-bottom: 0%;
  & i{
    margin-right: 0.5%;
    font-size: 1.3vw;
  }
}

::-webkit-scrollbar {
  width: 1%;
  &-thumb {
    background: #9f9f9f;
    border-radius: 10px;
  }

}

/* Handle */
