
.leftSideMenu{
  height: 100%;
  background-color: #FFFFFF;
  width: 8%;
  & a{
    text-decoration: none;
    color: black;
  }
}
.linksSection{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom:1%;
  font-size: 0.7vw;
  font-weight: 300;
}
.linkSectionContainer{
  margin-left: 15%;
}
.aboutUs{
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 0.7vw;
  font-weight: 300;
  margin:1% 15%;
  letter-spacing: 0px;
}
.buttonsContainer{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  height: 58.5%;
  font-size: 0.8vw;
  margin-top: 20%;
}
.btn{
  display: flex;
  flex-direction: column;
  float: right;
  border-left: solid 5px #FFFFFF;
  width: 90%;
  margin:7% 0% 7%;
  font-weight: 300;
  & i{
    font-size: 3vw;
  }
  &:hover{
    border-left: solid 5px #F92172;
  }
}
.logoContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 33%;
  font-size: 20%;
  & i{
    font-size: 3vw;
  }
}
#copyright{
  font-size: 1.1vw !important;
}