.leftSideMenu{
    height: 100%;
    background-color: #FFFFFF;
    width: 22%;
}

.linksSection{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin:7.5px 15px;
    font-size: 0.6em;
    font-weight: 300;
}
.aboutUs{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin:7.5px 15px;
    font-size: 0.6em;
    font-weight: 300;
}
.buttonsContainer{
    display: flex;
    flex-direction: column;
}
#copyright{
    font-size: 1.5em !important;
}

.btn{
   display: flex;
    flex-direction: column;
    width: 100px;
}

.btn:hover{
    border-left: solid 5px #F92172;
}

.logoContainer{
    border: 1px solid red;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
